*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.left-side{
  width: 14rem;
  height: 100vh;
  background-color:white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  overflow-y: scroll;
}

.icon{
  margin-left: 7rem;
  font-size: 25px;
  color: black;
  border-radius: 50%;
  border: 2px solid white;
}

 .user-img-30 {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   border: 2px solid white;
 }

 .menu-item {
   padding: 0px 20px;
   margin-left: 82px;
   margin-bottom: 10px;
 }

 .menu-item {
   padding: 0px 20px;
   margin-bottom: 0px;
 }
