*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body{
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

span{
  margin-left: 5px;
}

a{
  text-decoration: none;
}

.id{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.3rem;
  margin-top: 3rem;
}

/* .id:hover{
  background-color: rgb(213, 213, 213);
} */

.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.2rem;
}

.btn-tweet{
  color: white;
  width: 13rem;
  margin-top: 10px;
  margin-left: 40px;
  padding: 10px 70px;
  background-color: rgb(29, 155, 240);
  border-radius: 40px;
}

.btn-tweet:hover{
  background-color: rgb(26, 140, 216);
}

.name{
  color: black;
}

.user-name{
  color: gray;
}

.left-side{
  width: 17rem;
  height: 100vh;
  background-color:white;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

.icon{
  margin-left: 40px;
  font-size: 20px;
  color: black;
  border-radius: 50%;
  border: 2px solid white;
}

 .user-img-30 {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   border: 2px solid white;
 }

 .menu-item {
   padding: 0px 20px;
   margin-left: -33px;
   margin-top: 30px;
 }

.icon{
  padding: 10px 20px 10px 10px;
  text-decoration: none;
  display: flex;
}

.icon:hover{
  border-radius: 30px;
  background-color: rgb(213, 213, 213);
}

.fa-twitter{
  width: 100px;
  font-size: 30px;
}
 .fas{
  margin-right: 10px;
 }

 .fa-user{
  margin-right: 10px;
 }